---
import { Picture } from "astro-imagetools/components";
import { AstroSeoProps } from "../components/AstroSeo";
import BaseLayout from '../layouts/BaseLayout.astro';
import config from '../../blog.config.js';
import BlogHeader from "../components/BlogHeader.astro";

const seo: AstroSeoProps = {
	title: "Search"
}
---

<BaseLayout config={config} seo={seo}>
	<main class="wrapper w-full">
		<div class="max-w-3xl w-full mx-auto">
			<BlogHeader title={config.title} />
			search
		</div>
	</main>
</BaseLayout>