---
import { SearchLine, StackLine } from "./icons";
import { btn } from '@coms/classes';
import { AuthorConfigType } from "@types";

export interface Props {
	author: AuthorConfigType;
};

const { author } = Astro.props as Props;
---

<div class="mb-8 px-8 py-8 rounded-md  bg-gray-100">
	<article class="mb-2 flex flex-col items-start justify-center text-start">
		<a href="/about/">
			<h1 class="text-4xl font-bold mb-3">About Me</h1>
		</a>
		<main>
			<p class="mb-2">{author.comment}</p>
			<a href="/about/">Read more</a>
		</main>
	</article>
</div>
<div class="mb-1 text-right">
	<a class={btn + " rounded-md bg-slate-100 hover:bg-slate-200" } href="/series/">
		Series
		<StackLine />
	</a>
	<a class={btn + " rounded-md bg-slate-100 hover:bg-slate-200 ml-4" } href="/search/">
		Search
		<SearchLine />
	</a>
</div>