<article class="mb-8">
	<header class="mb-2 flex flex-col items-start justify-center text-start">
		<a href="/about/">
			<h1 class="text-4xl font-bold">About Me</h1>
		</a>
	</header>
	<main>
		<p class="line-clamp-3 mb-1">about me</p>
		<a class="underline decoration-dotted" href={'/about' || "#error" }>Read more</a>
	</main>
</article>