---
import Head from '../components/Head.astro';
import Footer from '../components/Footer';
import AstroSeo, { AstroSeoProps } from '../components/AstroSeo';

export interface Props {
	seo?: AstroSeoProps
}

const { seo } = Astro.props as Props;
const defaultSeo: AstroSeoProps = {
	twitter: {
		site: '@site',
		handle: '@handle',
		cardType: 'summary',
	}
};
// console.log(seo);
---

<html lang={ 'ko' }>

<Head>
	<AstroSeo {...{...defaultSeo, ...seo}} />
</Head>

<body>
	<slot />

	<Footer />
</body>

</html>