---
import Head from '../components/Head.astro';
import Footer from '../components/Footer';
import AstroSeo, { AstroSeoProps } from '../components/AstroSeo';
import { BlogConfigType } from '../types';

export interface Props {
	seo?: AstroSeoProps,
	config: BlogConfigType
}

const { seo, config } = Astro.props as Props;
const defaultSeo: AstroSeoProps = {
	twitter: {
		site: '@site',
		handle: '@handle',
		cardType: 'summary',
	}
};
---

<html lang={config?.locale.languageCode || 'ko' }>

<Head>
	<AstroSeo {...{...defaultSeo, ...seo}} />
</Head>

<body>
	<slot />

	<Footer />
</body>

</html>